.svg-icon.lucide-edit {
 width: 35px; /* Increase this value to make the icon bigger */
 height: 35px; /* Increase this value to make the icon bigger */
 background-color: #A52FE4;
 color: white;
}

body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-horizontal.mod-left-split > div.workspace-tabs.mod-top.mod-top-left-space > div.workspace-tab-container > div:nth-child(1) > div > div.nav-header > div > div:nth-child(1) > svg {
 border: 2px #A52FE4;
 border-radius: 10px;
}



