.mod-root .workspace-tab-header-container {
    counter-reset: tabOrder;
}

.mod-root .workspace-tab-header {
    counter-increment: tabOrder;
}

.mod-root .workspace-tab-header .workspace-tab-header-inner::before {
    content: counter(tabOrder);
}